<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "SlPortfolio", suffix: " · Phoenix Framework") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>

  <body>
    <div></div>

    <div class="divider">
      <div class="nav">
        <%= link to: "/" do %>
          <img class="avatar" src="/images/avatar.JPG" alt="Avatar" class="avatar" />
          <p class="title">Sam Lando</p>
        <% end %>

        <div class="nav-links">
          <%= link("About", to: "/about") %>
          <%= link("Portfolio", to: "/portfolio") %>
          <%= link("Music Lists", to: "/music") %>
        </div>
      </div>

      <div class="fader">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
