<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <%= live_title_tag("SamLando.com") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>

  <body>

    <div class="divider">
      <div class="nav">
        <div class="avatar-container">
        <%= link to: "/" do %>
          <img class="avatar" src="/images/avatar.JPG" alt="Avatar" class="avatar" width="90px" height="90px" />
          <!--<p class="title">Sam Lando</p> -->
        <% end %>
      </div>

        <div class="nav-links">
          <%= link("About", to: "/about") %>
          <%= link("Recent Projects", to: "/portfolio") %>
          <%= link("Homage to Shadow", to: "/shadow") %>
          <%= link("Year End Lists", to: "/music") %>
          

          <div class="social-links">
            <a
              href="
              https://www.linkedin.com/in/sam-lando/
              "
              target="_blank"
            >
              <img src="/images/linkedin.png" alt="LinkedIn" class="social-icon" width="50px" height="50px" />
            </a>
            <a href="https://github.com/s-lando" target="_blank">
              <img src="/images/github.png" alt="GitHub" class="social-icon" width="50px" height="50px"  />
            </a>
            <a
              href="https://open.spotify.com/user/northvanslando?si=1b73d5d208a74c52"
              target="_blank"
            >
              <img src="/images/spotify.png" alt="Spotify" class="social-icon" width="50px" height="50px"  />
            </a>
          </div>
        </div>
      </div>

      <div class="fader">
        <%= @inner_content %>
      </div>
    </div>

  </body>
</html>
