<div class="welcome">
  <h2>
    Hey, thanks for checking out my website!
  </h2>

  <p style="text-align: left;">
    I mainly made this to be a portfolio for my contracting work, but it also contains a few other things that I wanted to put out into the world. I built it using
    <a class="phoenix" href="https://www.phoenixframework.org/" target="_blank">Phoenix.</a>
  </p>

  <p class="signature">-Sam</p>
</div>
<%!-- 
<h2>Thanks for stopping by!</h2> --%>
