/* This file is for your main application CSS */
@import "./phoenix.css";

body {
  margin: 0;
  
}

div[data-phx-main] {
  width: 100%;
  height: 100%;
}

  /* year end lists  */



  
  .controls-section {
  }

  .year-select-form {
    margin: auto;
  }


  .category-button {
    background-color: #429fa9;
    color: #ffffff;
    padding: 5px 10px;

    margin: 2px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    line-height: 2;
    border: 1px solid #297886;
    font-weight: bold;

  }
  .category-button:hover {
    background-color: #429FA9;
    color: #e7e579;
  }

  .category-button.active {
    background-color: #429FA9;
    /* same yellow as the text color */
    color:#e7e579;
  }
  .item-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    padding: 1em;
  }

  .item-card {
    padding-top: 1em;
    margin: 3em;
  }

  .lists-page {
    padding: 1em;
  }

  .item-info {
    margin: 1em;
  }


  .fav-songs {
    font-style: italic;
  }

a:hover {
  text-decoration: none;
  color: #297886;
}

a:focus{

  text-decoration: none;
  color: #ff5a4b;
}

/*Custom CSS*/
.title {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  
}

.avatar-container {
  display: flex;
  margin-top: 1em;
  margin-left: 1em;


}

.avatar {
  border-radius: 50%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  text-align: center;
  background-color: #429fa9;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;



}


.nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-links a {

  color: #f7f7f7;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* padding: 10px; */

}

.nav-links a:hover {
  color: #e7e579;
}

.social-links {
  display: flex;
  flex-direction: row;
}

.social-links img {
  cursor: pointer;
  filter: invert(100%);
}

.social-links img:hover {
  filter: invert(100%) sepia(31%) saturate(4494%) hue-rotate(318deg) brightness(111%) contrast(99%);

}

.social-links a {
  padding: 5px;
}


.phoenix {
  color: #ff5a4b;
  text-decoration: none;
  border: none;
  cursor: pointer;

}

.container {
  margin: 0 auto;

  /* border-top: 1px solid #abb6de5b;

  border-bottom:  1px solid #abb6de5b;
  padding: 10em; */

}


.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  height: 100vh;
  margin-left: 30vw;
}

.fader {
  display: flex;
  animation: fade .85s ease-in-out;
  animation-fill-mode: forwards;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  flex-wrap: wrap;
  
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(200px, 30%), 1fr));
  grid-gap: 5px;
  margin: 10px;
}

.photo {
  display: flex;
  margin-top: 1em;
}

.photo img {
  width: 95%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(1, 0, 0, 0.1);
  margin: auto;
}



@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bio {
  margin: auto;
  width: 90%;
}

.elixir {
  color: #4e2a8e;
}

.elixir:hover {
  color: #429FA9;
}

.lists {
  text-align: left;

  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  
}


  

.before-change {

  margin: 1em;

}

 

.after-change {

  text-align: left;
  margin: auto;
  width: 50%;

}

ul {
  list-style-type: disc;


}


/*portfolio*/

/* .portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
} */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.portfolio-box {
  width: 550px;
  border: 1px solid #ddd;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.portfolio-box:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translate(2px, 2px);
  color: #000000;
}

.portfolio-box img {
  max-width: 100%;
  height: auto;
}

.portfolio-grid a:focus {
  text-decoration: none;
  color: #000000;
}

.project-title {
  margin-top: 10px;
  text-align: left;
}

.project-description {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #000000;
  text-align: left;
}

.tech-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin-top: 10px;
}

.tech-label {
  background-color: #20aac2;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 5px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.divider-line {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 15px 0;
  width: 100%;
}
/* 
.project-link {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 15px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #0056b3;
} */

@media screen and (max-width: 1400px) {
  .lists {

    margin: 1em;
    text-align: left;
    
  }

  ul {
    max-width: 20em;
  }

  .portfolio-box {
    width: 500px;

  }
}

.welcome {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.signature {
  text-align: right;
  margin-right: 2em;
}

@media screen and (max-width: 800px) {

  

  .lists {

    display: block;
    margin: auto;
    text-align: left;
    width: 80%;

  }

  .bio {
    width: 80%;
    text-align: left;
    margin: auto;
  }
  .portfolio-box {
    width: 400px;

  }

  .nav img {
    width: 40px; 
    height: 40px;
  }
  .nav {
    flex-direction: row;
    width: 100vw;
    height: 10dvh;
    position: sticky;
    top: 0;
    z-index: 1;
    
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
  }

  .social-links {
    display: none;
  }

  .avatar {
    width: 60px !important;
    height: 50px !important;
  }

  .divider {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-items: center;

    margin-left: 0;

    
  }


  .fader {

    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
  }





}

@media screen and (max-width: 550px) {

  h2 {
    font-size: 2.5rem;
  }

  .nav {
    font-size: 14px;
  }
  

  .portfolio-box {
    width: 300px;

  }

  .avatar-container {
    margin-left: 5px;
  }

}