<h2>Coming soon.</h2>

<h2>
  2019 & 2020 music lists can be found
  <a href="https://medium.com/@slando" target="_blank">here.</a>
</h2>

<p>
  July 2025 update: I am putting this here to hold myself accountable to actually do this in 2025. Coming soon for real!
</p>
